body {
    font-family: sans-serif;
    font-size: 30px;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    background-color: blue;
    color: yellow;
}

.gallery img:hover{
    opacity: 1;  
   margin: 20px;
   border: 5px solid navy;
    transition: 1s;
    transform: scale(1.1);
}

.gallery img{
    opacity: 0.8;  
   margin: 20px;
   border: 5px solid navy;
}

h2{
    text-align: center;
    background-color: blue;
    color: yellow; 
}

header{
    text-align: center;
    background-color: blue;
    color: yellow;
}

h4{
    width: 135px;
    background-color: blue;
    color: yellow;
    text-align: center;
}

p{
    text-align: center;
}

.image{
    text-align: center;
}

.footer-info{
    text-align: center;
}

nav a{
    text-decoration: none;
    border-radius: 10px;
    background-color: yellow;
    padding: 15px;
    margin: 2px;
    color: black;
}

nav a:hover{
    background-color: yellow;
    color: white;
}
